.work-hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-image: url('/bg.png');
}

.work-hero .container {
  width: 50%;
  margin: 0 auto;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.work-hero h1 {
  font-size: 10vw;
  text-align: center;
  color: white;
  line-height: 0.85;
  text-transform: uppercase;
  font-family: "dh";
  font-weight: lighter;
}

.work-hero p {
  width: 35%;
  margin: 0 auto;
}

.projects {
  position: relative;
  width: 100%;
  height: 100%;
}

.project {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.project-banner-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12vh;
  z-index: 9990099;
  color: white;
  text-align: center;
  width: 100%;
}

/* Add this to ensure text is visible against image backgrounds */
.project-title a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
  border-radius: 4px;
  font-family: "dh";
  font-weight: lighter;
}

/* Optional hover state for better UX */

.project-banner-img img {
  position: absolute;
  will-change: transform, scale;
}

@media (max-width: 900px) {
  .work-hero .container {
    width: 75%;
    padding: 8em 0 4em 0;
  }

  .work-hero h1 {
    font-size: 20vw;
  }

  .work-hero p {
    width: 100%;
  }
}
