.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  
  // Responsive layout adjustments
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}
.plaan{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
}
.head{
    color: #ffffff;
    font-size: 12vw;
}